<div class="forgot-password">
    <mat-card class="card">
        <div *ngIf="status === Status.Success; then thenBlock else elseBlock"></div>

        <ng-template #thenBlock>
            <mat-card-title class="title">Success</mat-card-title>
            <div class="success">
                <mat-card-content>
                    <p>A link to reset your password has been sent to your email.</p>
                </mat-card-content>
                <div class="return-button-container">
                    <button mat-button routerLink="/auth/login">Return to login</button>
                </div>
            </div>
        </ng-template>

        <ng-template #elseBlock>
            <mat-card-title class="title">Reset password</mat-card-title>
            <form (ngSubmit)="onSubmit()" class="form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" [formControl]="emailForm" required email>
                    <mat-error *ngIf="emailForm.errors?.['email']">
                        Email is invalid
                    </mat-error>
                    <mat-error *ngIf="emailForm.errors?.['required']">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <br>

                <div *ngIf="status === Status.Error" [ngSwitch]="error.code" class="error-box">
                    <div *ngSwitchCase="'auth/network-request-failed'">
                        Network request failed.
                    </div>

                    <div *ngSwitchCase="'auth/user-not-found'">
                        User not found.
                    </div>

                    <div *ngSwitchDefault>
                        {{errorMessage}}
                    </div>
                </div>

                <button mat-flat-button color="accent" class="reset-button" type="submit" [disabled]="emailForm.invalid">Reset password</button>
            </form>
            <div class="return-button-container">
                <button mat-button routerLink="/auth/login">Return to login</button>
            </div>
        </ng-template>

        <mat-card-footer>
            <mat-progress-bar *ngIf="status === Status.Loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>