<h1>Login with email</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="email" placeholder="Email" formControlName="email" required email /><br>
    <input type="password" placeholder="Password" formControlName="password" required minlength="6"
        maxlength="20" /><br>

    <div *ngIf="status === Status.Loading">
        Loading
    </div>

    <div *ngIf="status === Status.Error && error !== null" [ngSwitch]="error.code">
        <div *ngSwitchCase="'auth/user-not-found'">
            User not found.
        </div>

        <div *ngSwitchCase="'auth/wrong-password'">
            Wrong password.
        </div>

        <div *ngSwitchCase="'auth/network-request-failed'">
            Network request failed.
        </div>

        <div *ngSwitchDefault>
            {{errorCodeToMessage()}}
        </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<button routerLink="/auth/forgot-password">Forgot Password</button><br>
<button routerLink="/auth/register">Create a new account</button>

<hr>

<button (click)="googleSignin()">Login with Google</button><br>
<button (click)="facebookSignin()">Login with Facebook</button>