@use '@angular/material' as mat;

.add-plant {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        border-radius: 5px;
    }
}

.title {
    margin: 20px !important;
}

.card {
    @include mat.elevation(12);
    width: 80%;
    max-width: 500px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.add-plant-button {
    margin-left: 10px;
}

.form {
    margin: 0 20px;
}