.title {
    margin: 20px !important;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form, .content {
    margin: 0 20px;
}

.form-field, .reset-button {
    width: 100%;
}

.error-box {
    color: red;
    margin-bottom: 20px;
}