<div *ngIf="editPlantState === EditPlantState.LoadingPage; then loadingBlock else formBlock"></div>

<ng-template #loadingBlock>
    Loading
</ng-template>

<ng-template #formBlock>
    <app-plant-form [formGroup]="form" [(imageUrl)]="imageUrl" [(isCropping)]="isCropping"></app-plant-form>
    <br>
    <button [disabled]="!canUpdatePlant" (click)="updatePlant()">Update plant</button>
    <button (click)="deletePlant()">Delete plant</button>
    <button routerLink="/dashboard">Cancel</button>
    <br>
    <div [ngSwitch]="editPlantState">
        <div *ngSwitchCase="EditPlantState.UpdatingPlant">
            Updating...
        </div>

        <div *ngSwitchCase="EditPlantState.UpdatingError">
            <p>Error updating plant</p>
        </div>

        <div *ngSwitchCase="EditPlantState.DeletingPlant">
            Deleting...
        </div>

        <div *ngSwitchCase="EditPlantState.UpdatingError">
            <p>Error deleting plant</p>
        </div>
    </div>
</ng-template>