<div *ngIf="notificationsService.areNotificationsAllowed; then notificationsAllowedBlock else notificationsNotAllowedBlock"></div>

<ng-template #notificationsNotAllowedBlock>
    <p>You have to allow push notifications to use this app.</p>
</ng-template>

<ng-template #notificationsAllowedBlock>
    <p>dashboard works!</p>
    <button (click)="logout()">Logout</button><br>

    <div *ngIf="isLoading; then loadingBlock else loadedBlock"></div>

    <ng-template #loadingBlock>
        <p>Loading</p>
    </ng-template>

    <ng-template #loadedBlock>
        <div *ngIf="plantsService.plantsAreEmpty$ | async; then plantsEmptyBlock else plantsNotEmptyBlock"></div>

        <ng-template #plantsEmptyBlock>
            <p>You have no plants.</p>
            <button routerLink="/add-plant">Add your first plant</button>
        </ng-template>

        <ng-template #plantsNotEmptyBlock>
            <button routerLink="/add-plant">Add a plant</button>
            <app-plants-list-element *ngFor="let plant of plantsService.plants$ | async" [plant]="plant">
            </app-plants-list-element>
        </ng-template>
    </ng-template>
</ng-template>