<div *ngIf="status === Status.Success; then successBlock else formBlock"></div>

<ng-template #successBlock>
    <p>You have successfully created a new account. Please verify it by clicking the link sent to you by email.</p>
    <button routerLink="/auth/login">Return to login</button>
</ng-template>

<ng-template #formBlock>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="email" placeholder="Email address" formControlName="email" required email><br>
        <input type="password" placeholder="Password" formControlName="password" required minlength="6"
            maxlength="20"><br>
        <input type="password" placeholder="Confirm password" formControlName="confirmPassword"><br>

        <div *ngIf="isControlModified('email')">
            <div *ngIf="registerForm.controls['email'].errors?.['email']">
                Email is invalid.
            </div>

            <div *ngIf="registerForm.controls['email'].errors?.['required']">
                Email is required.
            </div>
        </div>

        <div *ngIf="isControlModified('password')">
            <div *ngIf="registerForm.controls['password'].errors?.['required']">
                Password is required.
            </div>

            <div *ngIf="registerForm.controls['password'].errors?.['minlength']">
                Password must be at least 6 characters long.
            </div>

            <div *ngIf="registerForm.controls['password'].errors?.['maxlength']">
                Password cannot be more than 20 characters long.
            </div>
        </div>

        <div *ngIf="isControlModified('confirmPassword') && !passordsAreEqual">
            Passwords do not match.
        </div>

        <div *ngIf="status === Status.Error" [ngSwitch]="error.code">
            <div *ngSwitchCase="'auth/network-request-failed'">
                Network request failed.
            </div>

            <div *ngSwitchCase="'auth/email-already-in-use'">
                Email is already in use.
            </div>

            <div *ngSwitchDefault>
                {{errorMessage}}
            </div>
        </div>

        <div *ngIf="status === Status.Loading">
            Loading.
        </div>

        <button type="submit" [disabled]="registerForm.invalid || !passordsAreEqual">
            Register
        </button><br>
        <button routerLink="/auth/login">Return to login</button>
    </form>
</ng-template>